body, html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.jumbotron, .jumbotron-fluid{
    background: url("https://cdn.pixabay.com/photo/2017/09/28/23/27/algeria-2797462_1280.jpg") center center;
    background-size: cover;
    height: 30em;
}
.simplon{
    font-family: 'Long Cang', cursive;
    font-size: 2em;
}
i{
    color: #F1C40F;
}
li a{
    color: white;
}
li a:hover{
    color: #F1C40F;
}
.trouvez, .revez, .p1{
    text-align: center;
}
.trouvez{
    font-weight: 900;
    color: white;
    font-size: 3em;
}
.revez{
    color: #F1C40F;
    font-size: 2em;
}
.japon{
    width: 18em;
}
